* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: whitesmoke;
  font-family: "Candara Light";
  max-width: 100%;
  overflow-x: hidden;
}

.announcement {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 4%;
  text-align: center;
  width: 100%;
  background: #181818;
  color: white;
  font-family: "Candara Light";
  margin: 0;
  padding: 0;
  font-size: 15px;
  z-index: 1;
}

.announcement a {
  color: #ccc;
}

.announcement a:hover {
  color: whitesmoke;
}

#navigation {
  width: 100%;
  position: relative;
}

.navigation-logo {
  margin-top: 20px;
}

ul.navigation-menubar {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

ul.navigation-menubar li a {
  color: #181818;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  padding-top: 40px;
}

li a {
  position: relative;
  display: block;
  cursor: pointer;
}

li a:before,
li a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  top: 72%;
  margin-top: -0.5px;
  background: #fff;
}

li a:before {
  left: -2.5px;
}
li a:after {
  right: 2.5px;
  background: #fff;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

li a:hover:before {
  background: #181818;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

li a:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

.collagepicture {
  height: 100vh;

  display: grid;

  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 10px 10px;

  margin: 0 30px;
}

.collagepicture div {
  display: grid;
  left: 0;
  top: 0;
  margin-top: 20px;
}

.smallpicture1 {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: 3;
}

.bigpicture2 {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}

.bigpicture1 {
  grid-row-start: 2;
  grid-row-end: 3;
}

.smallpicture2 {
  grid-row-start: 1;
  grid-column-start: 3;
}

.photo1 {
  object-fit: contain;
  width: 100%;
}

.photo4 {
  object-fit: contain;
  width: 100%;
  margin-top: 140px;
}

.photo3 {
  object-fit: contain;
  width: 100%;
  height: 180%;
}

.photo2 {
  object-fit: contain;
  width: 100%;
  margin-top: -20px;
  height: 108%;
}

.content {
  display: grid;
  grid-template-columns: 50fr 50fr;
  align-items: center;
  margin: 50px;
  gap: 10px;
  margin-top: 300px;
  border: 3px solid black;
}

.content div {
  padding: 5px;
  border-radius: 5px;
  left: 0;
  top: 0;
  margin-top: 10px;
}

.newslettersection {
  width: 70%;
  margin: 0 auto;
}

.newslettersection h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}

.newslettersection p {
  margin-bottom: 10px;
}

.officeimage {
  align-items: center;
}

.officeimage h2 {
  text-align: center;
}

.officeimage p {
  text-align: center;
  margin-bottom: 10px;
}

button {
  background-color: #181818;
  color: whitesmoke;
  border-radius: 6px;
  font-family: "Candara Light";
  font-weight: bold;
  padding: 5px;
}

.form-group {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
}
