body {
  margin: 0;
  background-color: whitesmoke;
  font-family: "Candara Light";
  font-size: 15px;
  font-weight: 400;
}

#navigation {
  width: 100%;
  position: relative;
}

.navigation-logo {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 0;
  content: "";
  margin-left: -150px;
}

.navigation-menubar {
  margin: 0 auto;
  width: 1170px;
}

.navigation-menubar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}

.navigation-menubar ul li {
  float: none;
  display: inline-block;
}

.navigation-menubar ul li:nth-child(1) {
  float: left;
}

.navigation-menubar ul li:nth-child(2) {
  float: left;
}

.navigation-menubar ul li a {
  color: #181818;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  padding-top: 40px;
}

li a {
  position: relative;
  display: block;
  cursor: pointer;
}

li a:before,
li a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  top: 72%;
  margin-top: -0.5px;
  background: #fff;
}

li a:before {
  left: -2.5px;
}
li a:after {
  right: 2.5px;
  background: #fff;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

li a:hover:before {
  background: #181818;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

li a:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

.collagepicture {
  width: 99vw;
  height: 100vh;

  display: grid;

  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 10px 10px;
}

.collagepicture div {
  display: grid;
  left: 0;
  top: 0;
  margin-top: 20px;
}

.smallpicture1 {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: 3;
}

.bigpicture2 {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}

.bigpicture1 {
  grid-row-start: 2;
  grid-row-end: 3;
}

.smallpicture2 {
  grid-row-start: 1;
  grid-column-start: 3;
}

.photo1 {
  object-fit: contain;
  width: 100%;
}

.photo4 {
  object-fit: contain;
  width: 100%;
  margin-top: 140px;
}

.photo3 {
  object-fit: contain;
  width: 100%;
  height: 180%;
}

.photo2 {
  object-fit: contain;
  width: 100%;
  margin-top: -20px;
  height: 108%;
}

.content {
  display: grid;
  grid-template-columns: 50fr 50fr;
  align-items: center;
}
