@media only screen and (max-width: 768px) {
  .collagepicture {
    height: 100vh;

    display: grid;

    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 10px 10px;

    margin: 0 30px;
  }

  .smallpicture1 {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .bigpicture2 {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .bigpicture1 {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .smallpicture2 {
    grid-row-start: 1;
    grid-column-start: 3;
  }

  .photo1 {
    object-fit: contain;
    width: 100%;
  }

  .photo4 {
    object-fit: contain;
    width: 100%;
    margin-top: 0;
  }

  .photo3 {
    object-fit: contain;
    width: 100%;
    margin-top: -4%;
  }

  .photo2 {
    object-fit: contain;
    width: 100%;
    margin-top: -80px;
  }

  .textbox1 {
    color: #181818;
    font-family: "Candara Light";
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: -4;
    width: 100%;
    align-items: center;
    margin-bottom: 85px;
  }

  .section-cta {
    padding: 100px;
    margin-top: -500px;
  }

  .cta {
    display: flex;
    flex-direction: column;
    border-radius: 11px;
    background-image: linear-gradient(to right bottom, #181818, #181818);
    overflow: hidden;
  }

  .cta-text-box {
    color: whitesmoke;
    padding: 15px;
  }

  .cta .heading-secondary {
    color: whitesmoke;
    margin-bottom: 3.2rem;
    text-align: center;
  }

  .cta-text {
    font-size: 20px;
    line-height: 2;
    margin-bottom: 2rem;
    color: whitesmoke;
    text-align: justify;
  }

  .cta-img-box {
    padding: 5px;
    font-family: "Candara Light";
    color: whitesmoke;
    display: flex;
    flex-direction: column;
  }

  .cta-img-box img {
    max-width: 100%;
  }

  .button {
    padding: 10px;
    border-radius: 5px;
    left: 0;
    top: 0;
    margin-bottom: 0;
    margin-top: -40px;
    color: #181818;
    background-color: #fdf2e9;
    font-family: "Candara Light";
    font-weight: bold;
    font-size: 20px;
  }
}

@media only screen and (max-width: 425px) {
  .announcement {
    font-size: 12px;
  }

  .navigation-mobile {
    display: block;
    margin-top: 30px;
  }

  .navigation {
    display: none;
  }

  .collagepicture {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .collagepicture div {
    display: flex;
  }

  .photo1 {
    object-fit: contain;
    width: 100%;
  }

  .photo4 {
    object-fit: contain;
    width: 100%;
    margin-top: 0;
  }

  .photo3 {
    object-fit: contain;
    width: 100%;
    margin-top: 0;
    height: 100%;
  }

  .photo2 {
    object-fit: contain;
    width: 100%;
    margin-top: 0;
  }

  .section-cta {
    padding: 50px;
    margin-top: 700px;
  }

  .textbox1 {
    order: -1;
    /* vertical-align: middle; */
    margin: 0;
    letter-spacing: 3px;
  }

  .cta {
    display: flex;
    flex-direction: column;
    border-radius: 11px;
    background-image: linear-gradient(to right bottom, #181818, #181818);
    overflow: hidden;
  }

  .cta-text {
    font-size: 15px;
    line-height: 2;
    margin-bottom: 30px;
    color: whitesmoke;
    text-align: justify;
  }

  .cta-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 10px;
  }

  .cta-form input,
  .cta-form select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-family: "Candara Light";
    color: #181818;
    border: none;
    border-radius: 5px;
    background-color: #fdf2e9;
    /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); */
  }

  .cta-img-box {
    padding: 20px;
    font-family: "Candara Light";
    color: whitesmoke;
    display: flex;
    flex-direction: column;
  }

  .cta-img-box p {
    text-align: center;
    margin-bottom: 20px;
  }

  .cta-form label {
    display: block;
    font-size: 15px;
    font-weight: 50px;
    margin-bottom: 1.2rem;
  }

  .button {
    padding: 10px;
    border-radius: 5px;
    left: 0;
    top: 0;
    color: #181818;
    background-color: #fdf2e9;
    font-family: "Candara Light";
    font-size: 15px;
    margin-right: 100px;
    margin-top: 0;
  }

  .radioselection p {
    font-size: 15px;
  }
}
